<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="bundle.js" async></script>
  </head>
  <body class="df df-column">
    <div class="container">
      <%- include('./partials/style'); -%> <%- include('./partials/header'); -%>
      <div class="content df">
        <%- include('./partials/aside'); -%>
        <turbo-frame id="main" data-turbo-action="advance">
          <%- include('./turbo/index'); -%>
        </turbo-frame>
      </div>
      <%- include('./partials/footer'); -%>
      <turbo-frame id="modal" data-turbo-action="advance" data-controller="popup"></turbo-frame>
    </div>
    <turbo-frame id="update">
      <form action="/update">
        <button>click</button>
      </form>
      <div id="counter">0</div>
    </turbo-frame>
  </body>
</html>
